# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/

# Development environment
.env
.env.*

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Virtual environment
venv/
